{
	"useTabs": true,
	"singleQuote": false,
	"semi": false,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-solidity"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{ "files": "*.svelte", "options": { "parser": "svelte" } },
		{
			"files": "*.sol",
			"options": {
				"parser": "solidity-parse"
			}
		}
	]
}
